
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Hind+Siliguri&family=Staatliches&display=swap');

body {
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cuprum', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

nav {
	font-family: 'Cuprum', sans-serif;
	font-weight: 700;
	font-size: 30px;
	padding: 20px;
	list-style-type: none;
	background-color: #eebcaa;
	letter-spacing: 1px;
}

nav a {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	text-decoration: none;
	color: #322d2a;
}

nav a:hover {
	text-decoration: none;
	color: #fdf8ed;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.no-bottom-padding {
	padding-bottom: 0px;
}

.pink-link {
	text-decoration: none;
	color: #322d2a;
}

.pink-link:hover {
	text-decoration: none;
	color: #fdf8ed;
	border-color: #fdf8ed;
}

.youtube-ratio {
	aspect-ratio: 16 / 9;
}

.container-spacing {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right:  30px;
}

.vertical-padding {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-brand {
	font-size: 40px;
}

.bg-green {
	background-color: #45643b;
}

.bg-brown {
	background-color: #322d2a;
}

.bg-white {
	background-color: #fdf8ed;
}

.bg-blue {
	background-color: #1f303f;
}

.bg-pink {
	background-color: #eebcaa;
}

.text-white {
	color: #fdf8ed;
}

.text-brown {
	color: #322d2a;
}

.top-padding {
	margin-top: 86px;
}

.border-brown {
	border-color: #322d2a;
	border-width: 2px;
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

.green-link {
	text-decoration: none;
	color: #fdf8ed;
	border-color: #fdf8ed;
	border-width: 2px;
}

.green-link:hover {
	color: #322d2a;
	background-color: #fdf8ed;
}


/* Useful Utility Classes Below */

.text-center{
	text-align: center;
}

.img-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.float-left{
	float: left;
	padding-right: 1em;
}

.float-right{
	float: right;
	padding-left: 1em;
}

/* Useful Utility Classes Above */